name: Test
on:
  workflow_dispatch:
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
    - name: check
      env: 
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      run: |
        if [ "$SENTRY_DSN" -eq 123 ]; then
          echo "✅ Config file has exactly 2 secrets"
        else
          echo "❌ Config file does not have 2 secrets"
          exit 1
        fi
